  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body{
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* display: flex;
  align-items: center;   */
}

  .wrap-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    position: relative;
    background-color: white;
  }
  
  .grid-item {
    /* border: 1px solid gray; */
    min-width: 20px;
    min-height: 20px;
  }
  button{
    border-style: none;
    padding: 8px;
    color: #515151;
    background-color: bisque;
    border-radius: 4px;
    margin: 1em;
    line-height: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .buttons> h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em;
    color: #D1D9E1;
  }